body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #155263;
  font-size: 26px;
  font-weight: 100;
  line-height: 28px;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(90, 149, 173);
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  margin: 0;
  padding: 0;
}

footer {
  padding: 5px;

  font-size: 10px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 25px;
  border: #03506f 1px solid;
  border-radius: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.btn {
  color: #03506f;
  border: solid 1px #03506f;
}
.btn:hover {
  background: #03506f;
  border: #03506f;
  color: #fff;
}
.form-control {
  border: solid 1px #03506f;
  background: transparent;
}

.basic-info {
  padding-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #155263;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  color: #155263;
  position: relative;
  font-size: 16px;
  top: -24px;
}

.weather-temperature .active {
  color: #155263;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.details {
  margin-top: 10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
}

.weather-forecast-date {
  font-size: 14px;
  color: #155263;
}

.weather-forecast-temperature {
  font-size: 12px;
  color: #155263;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
